.pizza-full{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  min-height: 600px;
  img{
    display: block;
    min-width: 200px;
    height: 450px;
    width: 450px;
    align-items:self-start;
  }

}
.pizza-info{
  margin-right: 200px;
  display: flex;
  justify-content: start;
  flex-direction: column;

  h2{
    color: #474d58;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 0.75rem;

  }
  button{
    max-width: 300px;
  }

}